[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
calci = "8MsFsFz1cPshextfGhHCgXStV7YudFCPZWje3dU4n24t"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "./bosqZynMPAwxmQogwamxf9DhkJdgDDRQJVmrjwGt6Lb.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
